body

{

    font-size: 20px;

    color: yellow;

    background-attachment: fixed;

    background-image: url("space.jpg");

    background-repeat: repeat;

}



.day::after

{

    content: " " url('alien.png');

}



.title

{

    font-size: 28px;

    color: red;

    text-transform: uppercase;

    letter-spacing: 0.05em;

    margin-top: 20px;

}



.header

{

    margin-bottom: 10px;

    height: 200px;

    overflow: hidden;

    position: fixed;

    width: 100%;

    top: 0px;

    border-radius: 10px;

    padding: 0px 20px;

    background-color: rgba(255, 255, 255, 0.3);

}



h1

{

    color: greenyellow;

    font-size: 40px;

    text-align: center;

    margin-top: 210px;

}



h3

{

    color: #FF9700;

    text-align: center;

}

.grade 

{

    text-align: center;

    margin-bottom: 20px;

}



a

{

    text-decoration: none;

    color: greenyellow;

}



a:visited

{

    color: cyan;

}



a:hover

{

    color: lightcyan;

}



.nav

{

    text-align: center;

    z-index: 1;

}



.nav>a

{

    text-transform: capitalize;

    margin: 40px;

    color: yellowgreen;

    border-top: 1px solid pink;

}



.nav>a:hover

{

    border-top: 3px solid greenyellow;

    color: orange;

}











[class*="box"]

{

    border-radius: 10px;

    margin: 10px;

    border: 1px solid rgba(0, 0, 0, 0.5);

    padding: 10px;

    z-index: 0;

    min-height: 120px;

}



[class*="day-box"]

{

    background-color: rgba(242, 24, 239, 0.3);

    margin-bottom: 20px;

    width: 60%;

}



[class*="reading-box"]

{

    background-color: rgba(25, 255, 16, 0.5);

}



[class*="lab-box"]

{

    background-color: rgba(212, 255, 208, 0.5);

}



[class*="grading-box"]

{

    background-color: rgba(255, 220, 255, 0.5);

}



[class*="prep-box"]

{

    background-color: rgba(106, 255, 255, 0.5);

    min-height: 120px;

}


.reading

{

    float: left;

    display: block;

}



.assignmentWidget

{

    float: left;

}



label

{

    display: block;

    margin: 10px;

}



.person_image

{

    width: 80px;

    height: 110px;

    border-radius: 10px;

}
