body

{

    

    background: url("space.jpg") center center no-repeat fixed;

    background-size: cover;

    color: white;

    

    

    

    

}



h1, h2, h3

{

    

    color: whitesmoke;

    text-shadow: 2px 2px 4px #000000;

    font-size: 40pt;

    

    

    

    

    

}

.header

{

    width: 20%;

    height: 100%;

   

    background-color: rgb(96,96,96);

    position: fixed;

    right: 0px;

    top: 0px;

    padding-left: 10px;

 

    

}





.person_image

{

    

    

       text-align: center;

    

}



.username

{

    

    text-shadow: 2px 2px 4px #000000;

    color: whitesmoke;

    font-size: 25pt;

    

    

    

}



.nav a 

{

    

    display:block;

    padding-top: 20px;

    text-align: center;

    font-size: 20pt;

    color: goldenrod;

    

    text-shadow: 2px 2px 4px #000000;

    

}



/* makes the background a different color depending on the day of the week it is. */

.CURRENT

{

    border-color: green;

    

    

    

    

    

}



.COMPLETED

{

    border-color: red;

    

    

    

    

    

}



.PREP

{

    

     border-color: yellow;

    

    

}









.nav a 

{

    

    display:block;

    

    

    

}



.reading

{

    display: inline-block;

    border-left: solid;

    border-color: black;

    padding-left: 5px;

    padding-right: 5%;

    overflow: auto;



    

    

}





/* reading box for home page*/

.day-box

{

    

    width: 75%;

    height: 300px;

    border-style: solid;



    margin-bottom: 50px;

    font-size: 14pt;

    color: white;

    text-shadow: 2px 2px 4px #000000;

    transition: width, height;

    overflow: scroll;

    

}



.day-box a

{

    

    color:darkorange;

    

    

    

    

    

}





.day

{

    

    display: inline-block;

    height: 100%;

    width:25%;

    background-color:black;

    float:left;

    clear:left;

    

    text-align: center;

     overflow: scroll;

    

  

    font-size: 300%;

    

}





.day-box:hover

{

    width: 77%;

    height: 310px;

    

    

    

    

    

}

.reading-box

{

    display:block;

    height: 25%;

    width:75%;

    float:right;

    clear:right;

      overflow: auto;

    

    background: rgba(128, 128, 128, 0.8);

    

}





.prep-box

{

    height: 25%;

    width:75%;

    display:block;

    float:right;

    clear:right;

     overflow: scroll;

   

     background: rgba(204, 204, 204, 0.8);

    

    

}



.grading-box

{

        height: 25%;

    width:75%;

    display:block;

    float:right;

    clear:right;

    background: rgba(128, 128, 128, 0.8);

     overflow: scroll;

    

}





.lab-box

{

        height: 25%;

    width:75%;

    display:block;

    float:right;

    clear:right;

     overflow: scroll;

 background: rgba(204, 204, 204, 0.8);

}











/* ... ACOUNT PAGE ... */





.account_form

{

    color: white;

    font-size: 20pt;

    width: 70%;

    

    

}

.account_form .title

{

    

    font-size: 40pt;

    padding-bottom: 10px;

    text-shadow: 2px 2px 4px #000000;

    

    

}



.account_form label

{

    

    display: block;

    padding-top: 15px;

   

    

    

    

}





/* ... Assignment Page ... */



.assignment_form

{

    

    

    width: 70%;

    

    

    

}



.assignment_title

{

    

    font-size: 40pt;

    

    

    

}





.assignment_prompt

{

    

    padding-top: 15px;

    padding-bottom: 5px;

    font-size: 16pt;

    

}





.question

{

    

      

    background: rgba(0, 0, 0, 0.8);

    

    

    

}



iframe

{

    padding-top: 10px;

    padding-bottom: 10px;

    width: 100%;

    height: 700px;

    display: block;



    background-color: white;





}



textarea

{

    

    display: block;

    

    width: 50%;



}





rect 

{

    fill: orange;



}



table, tbody

{

    width: 70%;

    border-style: solid;

    border-color: darkorange;

    overflow: auto;

    border-collapse: collapse;

}







td, th

{

    

    width: 20px;

    overflow: auto;

    padding: 5px;

    text-align: left;

    border-bottom: solid;

    border-left: solid;

    border-color: darkorange;

    border-collapse: collapse;

    

}



tr

{

    

    height:10px;

    overflow: auto;

    padding: 0px;

    

    

    

}





.person_info img

{

    width: 80px;

    height: 110px;

    overflow: auto;

    

    

    

    

    

    

}



td a

{

    

    color: gold;

    

      text-shadow: 2px 2px 4px #000000;

    

    

    

}





.grade 

{

    font-size: 20pt;

    

    padding-bottom: 10px;

    

    text-shadow: 2px 2px 4px #000000;

    

    

    

}



.rubric_score table, .rubric_score table th, .rubric_score table td, .rubric_score table tbody

{

    

    border: none;

    

    

}



.rubric_comments

{

    padding-top: 15px;

    

    

    

    

}

.login .username

{

    padding-top: 20px;

    padding-bottom: 10px;

    font-size: 14pt;

    

    

    

    

    

    

}
