body

{

    

    background: url("space.jpg") center center no-repeat fixed;

    background-size: cover;

    color: red;

    

    

    

    

}



h1, h2, h3

{

    

    color: whitesmoke;

    text-shadow: 2px 2px 4px #000000;

    font-size: 40pt;

    

    

    

    

    

}


