body

{

    font-size: 20px;

    color: black;

    background-attachment: fixed;

    background-image: url("space.jpg");

    background-repeat: repeat;

}



.day::after

{

    content: " " url('alien.jpg');

}



.title

{

    font-size: 28px;

    color: yellow;

    text-transform: uppercase;

    letter-spacing: 0.05em;

    margin-top: 20px;

}



.header

{

    margin-bottom: 10px;

    height: 200px;

    overflow: hidden;

    position: fixed;

    width: 100%;

    top: 0px;

    border-radius: 10px;

    padding: 0px 20px;

    background-color: rgba(255, 255, 255, 0.5);

}



h1

{

    color: black;

    font-size: 40px;

    text-align: center;

    margin-top: 210px;

}



h3

{

    color: #FF9700;

    text-align: center;

}

